<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>pghpy - Pittsburgh Python User Group</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="/angular-locale_en-us.js"></script>
    <script>
    angular.module('pghpy', [])
    .filter('trusted', ['$sce', function($sce) {
        return function(text) {
            return $sce.trustAsHtml(text);
        };
    }])
    .filter('isPast', [function() {
        return function(input) {
            date = new Date(input);
            today = new Date();

            if (date < today) {
              return 'past';
            }

            return false;
        }
    }])
    .controller('EventListCtrl', ['$http', '$scope', function($http, $scope) {
        $scope.events = [];
        $http.get('/events.json').then(function(data) {
            $scope.events = data.data.events;
            $scope.presenters = data.data.presenters;
            $scope.locations = data.data.locations;

            console.log(data);
        });
    }]);
    </script>
  </head>
  <body ng-app="pghpy">
    <div class="wrapper">
      <section>
        <h3>
            <img src="images/logo.png" style="height: 14pt;">
            Pittsburgh Python User Group
        </h3>

        <p>
            <a href="http://twitter.com/pghpy">Twitter</a> -
            <a href="https://www.facebook.com/pages/Pittsburgh-Python-User-Group/215514138486687">Facebook</a> -
            <a href="http://www.meetup.com/pghpython/">Meetup</a> -
            <a href="https://groups.google.com/forum/#!forum/pghpy">Mailing List</a> -
            <a href="https://groups.google.com/forum/#!forum/pghpy-organizers">Organizers'
                Mailing List</a>
        </p>

        <h2>2014 Schedule</h2>

        <p>We meet on the fourth Wednesday of the month.</p>

        <style>
          .past, .past a {
            color: #999;
            text-decoration: line-through;
          }
        </style>
        <table ng-controller="EventListCtrl as e">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Speaker</th>
                    <th>Topic</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in events" ng-class=" event.date | isPast ">
                    <td><a ng-if="event.url" href="{{ event.url }}">{{ event.date | date:'EEE, MMM d, h:mm a' }}</a><span ng-if="!event.url">{{ event.date | date:'EEE, MMM d, h:mm a' }}</span></td>
                    <td><a ng-if="locations[event.location].url" href="{{ locations[event.location].url }}">{{ locations[event.location].name }}</a><span ng-if="!locations[event.location].url">{{ locations[event.location].name }}</span></td>
                    <td><a ng-if="presenters[event.presenter].url" href="{{ presenters[event.presenter].url }}">{{ presenters[event.presenter].name }}</a><span ng-if="!presenters[event.presenter].url">{{ presenters[event.presenter].name }}</span></td>
                    <td ng-bind-html="event.topic | trusted"></td>
                </tr>
            </tbody>
        </table>

        <p>* We have a combined November/December meeting, which is a social on
        the Wednesday after Thanksgiving.</p>

        <p><a
            href="https://github.com/pghpy/pghpy.github.com/edit/master/index.html">Edit
        this page</a> on GitHub.</p>

    </div>
  </body>
</html>
